
#idea stuff
.idea_modules/
.idea/
*.iml
target/
test-output/
#maker stuff
scala-libs
**/.maker
*/*vim*compile*
*/target-maker
*/lib_managed
.maker.vim/
*-classpath.sh
**/logback-vim.xml
*/lib_src_managed/
tags
*.pid
kafka-test-data
maker-test-output
zookeeper-test-data
TODO.txt

kafka-data
zookeeper-data
maker*.log
logs
